# .env.example — Ye file copy karo aur .env naam do
# KABHI bhi .env file GitHub pe push mat karo!

# PostgreSQL Connection
DATABASE_URL=postgresql://postgres:password@localhost/core_auth_db

# Redis Connection
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT Secrets — strong random strings use karo
# Generate karne ke liye: python -c "import secrets; print(secrets.token_hex(32))"
ACCESS_TOKEN_SECRET="enter your key here"
REFRESH_TOKEN_SECRET="enter you key here"

# Token Expiry (optional — defaults use honge agar set nahi)
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
